<div>
    <!-- Filter buttons -->
    <div class="flex flex-wrap gap-y-2 *:px-2 font-mono font-light *:border border-stone-200/60 my-2 pr-4 pl-1 px-0.5 w-full *:hover:text-black *:hover:border-link-orange *:hover:bg-link-orange *:hover:cursor-pointer">
        <button data-filter="all" class="mr-4">All</button>
        <button data-filter="2026">2026</button>
        <button data-filter="2025">2025</button>
        <button data-filter="2024">2024</button>
        <button data-filter="2023">2023</button>
        <button data-filter="2022">2022</button>
        <button data-filter="2021" class="mr-4">2021</button>
        <button data-filter="Unity">Unity</button>
        <button data-filter="Unreal Engine">Unreal Engine</button>
        <button data-filter="C++">C++</button>
        <button data-filter="C#">C#</button>
        <button data-filter="Python">Python</button>
        <button data-filter="JavaScript">JavaScript</button>
        <button data-filter="HTML">HTML</button>
        <button data-filter="CSS">CSS</button>
        <button data-filter="Digital Art">Digital Art</button>
        <button data-filter="3D Art">3D Art</button>
        <!-- add more as needed -->
    </div>
    <!-- Container for project cards -->
    <div class="w-full sm:w-xl md:w-full my-8 grid gap-8 grid-cols-2 md:grid-cols-3 md:mb-8 mx-auto" id="project-grid"></div>
</div>

<!-- Embed project data -->
<script id="project-data" type="application/json">
{{ collections.projects | projectData | json }}
</script>
